body {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        margin-top: auto;
        flex-direction: column;
        justify-content: center;
        font-family: "Lato";
        font-size: 20px;
        font-weight: 600;
      }
      .mBox img {
        width: 70%;
        height: auto;
      }
      .mBox {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #p1 {
        animation: whatif 10s;
        opacity: 0;
        animation-delay: 2s;
      }
      @keyframes whatif {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 100%;
        }
        100% {
          opacity: 0;
        }
      }
      #p2 {
        animation: lp 10s;
        animation-delay: 10s;
        opacity: 0;
      }
      @keyframes lp {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 100%;
        }
        100% {
          opacity: 0;
        }
      }
      .footer {
        position: absolute;
        bottom: 50px;
        font-size: 10px;
        font-weight: 600;
      }